body {
  background-color: #ede0b3;
  font-family: Arial, sans-serif;
  font-size: 16px;
}



#ubicacion {
  background-color: #F2F2F2;
  padding: 20px;
  text-align: center;
  color: #4D4D4D;
}



header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav li a:hover {
  color: #ff9900;
}

main {
  margin: 20px;
}